DATABASE_URL="postgresql://postgres.ktetgnzyymybcadpnmsp:Swadesh123456987@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1"
DIRECT_URL="postgresql://postgres:Swadesh123456987@db.ktetgnzyymybcadpnmsp.supabase.co:5432/postgres"
AUTH_SECRET="5TwnWzRv5KmAENyd/4grB8PrqvfjITcsAohZjLjV6jQ="
NEXTAUTH_SECRET="5TwnWzRv5KmAENyd/4grB8PrqvfjITcsAohZjLjV6jQ="
NEXTAUTH_URL="http://localhost:3000"